 <div class="navbar">
  <a href="/" class="text-5xl font-bold">Lego Collection</a>
  <ul class="menu menu-horizontal px-1">
    <!-- View Collection menu item -->
    <li>
      <a class="<%= (page === '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a>
    </li>
    <li>
      <a class="<%= (page === '/about') ? 'active' : '' %>" href="/about">About</a>
    </li>
    <!-- Add other menu items as needed -->

    <% if(session.user) { %>
      <li>
        <details>
          <summary>Account: <%= session.user.userName %></summary>
          <ul class="p-2 right-0">
            <li><a class="<%= (page === '/lego/addSet') ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
            <li><a class="<%= (page === '/userHistory') ? 'active' : '' %>" href="/userHistory">User History</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </details>
      </li>
    <% } else { %>
      <li>
        <details>
          <summary>Account</summary>
          <ul class="p-2 right-0">
            <li><a class="<%= (page === '/login') ? 'active' : '' %>" href="/login">Login</a></li>
            <li><a class="<%= (page === '/register') ? 'active' : '' %>" href="/register">Register</a></li>
          </ul>
        </details>
      </li>
    <% } %>
    <!-- Add other menu items as needed -->
  
  </ul>



</div>





